<div class="row">
  <div class="col-1" *ngFor="let plane of planes">
    <div class="planes-card cursor-pointer" [matTooltip]="plane.line" [class.selected-row]="this.index===plane.index">
      <img [alt]="plane.alt" (click)="change(plane.index, plane.line, this)" class="plane" [src]="plane.imagePath">
    </div>
  </div>
</div>

<div class="content-card">
  <div class="content-card title">
    <div class="form-options">
      <mat-slide-toggle
        [color]="color"
        [checked]="enableCarousel"
        (change)="enableCarousel()"
        [matTooltip]="carouselToggle">
      </mat-slide-toggle>
    </div>
  </div>

  <mat-tab-group class="header-less-tabs" [selectedIndex]="index">
    <mat-tab *ngFor="let plane of planes">
      <div class="content-card">
        <div class="row cards">
          <div class="col-2 p-1 register-content"
            *ngFor="let register of register$ | async"
            [class.bg-primary]="register.avg_fimreal_fimplan > 0"
            [class.bg-danger]="register.avg_fimreal_fimplan < 0"
            [class.bg-success]="register.avg_fimreal_fimplan == 0">

            <div class="card-detail">
              <div>{{register.posto}}</div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
