@import "styling";

#planes-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1%;
}

.planes-card {
  font-family: $secondary-font;
  border-style: none;
  background-color: $light;
  min-width: 2vw;
  max-width: 10vw;
  border: 2px solid $accent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plane {
  min-width: 2vw;
  max-width: 10vw;
  // width: 20vw;
  // height: 10vw;
  min-height: 6vw;
  max-height: 7vw;
}

.selected-row {
  border-color: rgb(253, 208, 23);
}

.register-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1%;
  margin: 2px;
  min-width: 2em;
  max-width: 14em;
  min-height: 4em;
  max-height: 6em;
}

::ng-deep .header-less-tabs .mat-tab-header {
  display: none;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-options {
  display: flex;
  align-items: center;
  align-content: center;
}
