<div class="content-card">
  <div class="content-card title">
    <h1>Bem vindo ao <span>Dashboard</span>!</h1>
  </div>

  <div class="welcome-text">
    <p> Selecione as opções disponíveis: <br>
      <br><span>Modo TV</span> - Modo de slides para exibição em uma TV.
      <br><span>Modo PC</span> - Modo para exibição em um computador, com filtros de Range.
    </p>
  </div>

  <div class="options-row">
    <button mat-button class="option" routerLink="/slide">Modo TV</button>
    <button mat-button class="option" routerLink="/select">Modo PC</button>
  </div>
</div>
      