<mat-nav-list class="sidenav">

  <div>

    <div>
      <a mat-list-item routerLink="/" style="height: 0;"></a>

      <a mat-list-item [routerLink]="['main']" routerLinkActive="active-list-item" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Inicio</span>
      </a>
      <a mat-list-item [routerLink]="['slide']" routerLinkActive="active-list-item" (click)="onSidenavClose()">
        <mat-icon>view_carousel</mat-icon> <span class="nav-caption">Slides</span>
      </a>
      <a mat-list-item [routerLink]="['select']" routerLinkActive="active-list-item" (click)="onSidenavClose()">
        <mat-icon>check_box</mat-icon> <span class="nav-caption">Selecionar</span>
      </a>

    </div>

  </div>
</mat-nav-list>
